.autocomplete {
    position: relative;
    display: inline-block;
    width: 10em;
}

input {
    background-color: #f1f1f1;
    padding: .7em;
    font-size: 1em;
    border-radius: 6px;
    border: .2em solid var(--global--color-logo-red);
    margin-top: 0.2em;
    width: 7.6em;
}

.autocomplete-items {
    position: absolute;
    /* border: .2em solid var(--global--color-logo-red); */
    border-top: none;
    left: .2em;
    top: 100%;
    height: 16em;
    width: calc(90% + .5em);
    overflow-x: hidden;
}

.autocomplete-items::-webkit-scrollbar {
    width: .5em;
}

.autocomplete-items::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 0em 1em 1em 0em;
    /*changed by Josse*/
    background: var(--global--color-logo-red);
    outline: .1em solid var(--global--color-dirt);
}

.autocomplete-items::-webkit-scrollbar-track {
    border-radius: 1em;
}

.autocomplete-items div {
    padding: .7em;
    cursor: pointer;
    background-color: #f1f1f1;
    outline: 1px solid var(--global--color-logo-red);
}


/*when hovering an item:*/

.autocomplete-items div:hover {
    background-color: var(--global--color-brick);
}

.input:active {
    background-color: black;
}