@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
.screen {
  /* ORIGINAL */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(222, 255, 244, 0.959) 0%,
    #306462fb 100%
  );
}

#map {
    cursor: grab;
}

#map_access {
  pointer-events: none;
  opacity: 0;
}

#map:active {
  cursor: grabbing;
}

:root {
    --global--color-logo-red: #C1121F;
    --global--color-brick: #8E4849;
    --global--color-light-dirt: #75635E;
    --global--color-light-greenish: #849E96;
    --global--color-greenish: #5B7D72;
    /* --global--color-medium-dirt: #626D60; */
    /* --global--color-swamp-green: #685C4E; */
    --global--color-dirt: #4A443D;
    --global--color-jet-black: #2C2C2C;
    --global-color-creamy-red: #ebe2db;
}